@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  background-color: black;
}

html {
  color-scheme: dark;
}

.draggable {
  -webkit-user-select: none;
  -webkit-app-region: drag;
}

.undraggable {
  -webkit-app-region: no-drag;
}

::-webkit-scrollbar {
  width: 12px;
  height: 12px;
}

::-webkit-scrollbar-track {
  background: transparent;
}

::-webkit-scrollbar-thumb {
  background-color: #27272a;
}
