@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  background-color: black;
}

html {
  color-scheme: dark;
}

.draggable {
  -webkit-user-select: none;
  -webkit-app-region: drag;
}

.undraggable {
  -webkit-app-region: no-drag;
}

.scroll_enabled {
  overflow: scroll;
  height: 1000px; /* define your custom height */
}

::-webkit-scrollbar {
  width: 12px; /* width of the entire scrollbar */
}

::-webkit-scrollbar-track {
  background: transparent; /* color of the tracking area */
}

::-webkit-scrollbar-thumb {
  background-color: gray; /* color of the scroll thumb */
}
